.App {
  background-color: rgb(46, 112, 150);
}

.main-heading {
  padding-top: 50px;
}
.plot-heading {
  margin-left: 270px;
  margin-top: 50px;
}

h1 {
  margin-left: 600px;
}

.intro {
  margin-left: 130px;
  margin-right: 130px;
}

.image-one {
  margin-top: 50px;
  height: 500px;
  width: 400px;
}

.image-two {
  margin-top: 70px;
}
